In [1]:
import pandas as pd

This tutorial uses the Titanic data set, stored as CSV. The data consists of the following data columns:<br>
• PassengerId: Id of every passenger.<br>
• Survived: This feature have value 0 and 1. 0 for not survived and 1 for survived.<br>
• Pclass: There are 3 classes: Class 1, Class 2 and Class 3.<br>
• Name: Name of passenger.<br>
• Sex: Gender of passenger.<br>
• Age: Age of passenger.<br>
• SibSp: Indication that passenger have siblings and spouse.<br>
• Parch: Whether a passenger is alone or have family.<br>
• Ticket: Ticket number of passenger.<br>
• Fare: Indicating the fare.<br>
• Cabin: The cabin of passenger.<br>
• Embarked: The embarked category<br>

In [3]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S